In [10]:
import array as ar   #need to import module array to use array

In [14]:
#array are simillar to lists. but it supports only 1 data type.
#format is 'ar.array('typecode', [values])'
# typecodes are 'b'-signed char, 'B'- unsigned char, 'u'- unicode character, 'h'- signed short, 'H'- unsigned short,
# 'i'- signed int, 'I'- unsigned int, 'l'- signed long, 'L'- unsigned long, 'f'- float, 'd'- double
# signed numbers means negative also

In [15]:
a1 = ar.array('i', [1,2,3,4,5,6])

In [16]:
print(a1)

array('i', [1, 2, 3, 4, 5, 6])

In [17]:
# array will support only the datatype represents by type code
a2 = ar.array('i', [1,2,3,4,5,6.5])

TypeError: integer argument expected, got float

In [19]:
a1.buffer_info()  #gives the address and the size of the array

(1989243718416, 6)

#### to reverse the array

In [20]:
a1.reverse()

In [21]:
a1

array('i', [6, 5, 4, 3, 2, 1])

#### array members has index numbers

In [22]:
a1[0]

6

In [24]:
a1[5]

1

#### length of array

In [25]:
len(a1)

6

#### can use loop on array

In [30]:
for i in a1:
    print(i)

6
5
4
3
2
1

In [32]:
for i in range(len(a1)):
    print(a1[i])

6
5
4
3
2
1

#### array of charaters

In [33]:
a3 = ar.array('u', ['a', 'b', 'c', 'd'])

In [34]:
a3

array('u', 'abcd')

In [35]:
for i in a3:
    print(i)

a
b
c
d

#### if we do not know the type of values getting from a source or as an output

In [39]:
new_arr1 = ar.array(a3.typecode, (a for a in a3))

In [40]:
new_arr1

array('u', 'abcd')

In [41]:
new_arr2 = ar.array(a1.typecode, (a for a in a1))

In [42]:
new_arr2

array('i', [6, 5, 4, 3, 2, 1])

In [43]:
new_arr3 = ar.array(a1.typecode, (a*a for a in a1))

In [44]:
new_arr3

array('i', [36, 25, 16, 9, 4, 1])

#### To sort an array (using bubble sort)

In [49]:
for i in range(len(new_arr3)-1):
    for j in range(i+1, len(new_arr3)):
        if new_arr3[i] > new_arr3[j]:
            new_arr3[i], new_arr3[j] = new_arr3[j], new_arr3[i]
print(new_arr3)

array('i', [1, 4, 9, 16, 25, 36])

#### To convert array into list

In [46]:
list1 = ar.array.tolist(new_arr3)

In [47]:
list1

[36, 25, 16, 9, 4, 1]

In [48]:
type(list1)

list