In [1]:
# create a Employee class. class variables - company name, instance variables- name, emp code, dept, designation, salary, age
# performance_validation, promotion, transfer

In [14]:
designations = ['Asso', 'Exe', 'Sr Exe', 'Assist. manager', 'Deputy Manager', 'Manager', 'Sr Manager']
office_branches = ['a', 'b', 'c', 'd', 'e']
import random
class Employee:
    
    company_name = 'X'
    
    
    
    def __init__(self, name, emp_code, dept, designation):
        self.name = name
        self.emp_code = emp_code
        self.dept = dept
        self.designation = designation
        self.office_branch = 'a'
        
    def performance_validation(self, score):
        '''score is a integer with min value zero and max value 5
        5 : very good, 4: good, 3: ok, below 3 : to be improved'''
        if score == 5:
            print('Very Good Performance')
        elif score == 4:
            print('Good Performance')
        elif score == 3:
            print('OK. Do hard wrok and improve.')
        elif score < 3:
            print('Sorry! You have improve a lot.')
            
    def promotion(self, score):
        if score == 5:
            i = designations.index(self.designation)
            self.designation = designations[i+1]
            print(f'Congrats! You have a bonus and been promoted to {self.designation}')
    
    def transfer(self, option): # option is a boolean
        if option == True:
            while True:
                new = random.choice(office_branches)
                if new != self.office_branch:
                    self.office_branch = new
                    break
                else:
                    continue
            print(f'Congrats! You have been transferred to {self.office_branch}')

In [15]:
e1 = Employee('John', 900, 'HR', 'Asso')

In [16]:
e1.office_branch

'a'

In [17]:
e1.performance_validation(4)

Good Performance

In [18]:
e1.promotion(5)

Congrats! You have a bonus and been promoted to Exe

In [19]:
e1.promotion(5)

Congrats! You have a bonus and been promoted to Sr Exe

#### file handling

In [20]:
# read mode


file = open(r'C:\E\files\new\text1.txt', 'r')

In [21]:
file.read() # to get entire content of the file as a string

'line1\nline2\nline3'

In [22]:
file.close()

In [23]:
file = open(r'C:\E\files\new\text1.txt', 'r')
file.read(3)  # first 3 characters

'lin'

In [24]:
file.read(5) # next 5 characters after first 3 characters

'e1\nli'

In [25]:
file.close()

In [26]:
file = open(r'C:\E\files\new\text1.txt', 'r')
file.readline() # first line

'line1\n'

In [27]:
file.close()

In [28]:
file = open(r'C:\E\files\new\text1.txt', 'r')
file.readlines() # list - line by line

['line1\n', 'line2\n', 'line3']

In [29]:
file.close()

In [30]:
file = open(r'C:\E\files\new\text1.txt', 'r')

for i in file:
    print(i)

line1

line2

line3

In [31]:
# write mode

file = open(r'C:\E\files\new\text2.txt', 'w') # creates the file

In [32]:
file.write('writing some text')
file.close()

In [33]:
# try to open existing file in write mode (repalce with new file and content will be lost if any)

file = open(r'C:\E\files\new\text2.txt', 'w')

In [34]:
file.writelines(['line1\n', 'line2'])
file.close()

In [35]:
# append mode

file = open(r'C:\E\files\new\text2.txt', 'a')
file.write('\nappend some text')
file.close()

In [36]:
# x mode to create file

file = open(r'C:\E\files\new\text3.txt', 'x')
# created text3.txt

In [37]:
file = open(r'C:\E\files\new\text3.txt', 'x') # error as text3.txt already exists

FileExistsError: [Errno 17] File exists: 'C:\\E\\files\\new\\text3.txt'

In [39]:
import os
os.chdir(r'C:\E\files\new')

In [40]:
file = open(r'text2.txt', 'r')
file.read()

'line1\nline2\nappend some text'

In [41]:
file.close()

##### pandas module to open csv/excel files

In [38]:
import pandas as pd

In [42]:
df = pd.read_csv(r'C:\E\E_drive_copy\sample_data\age_sal.csv')

In [43]:
df

    age  salary
0    21   12642
1    21   12925
2    22   13167
3    24   14929
4    26   15232
5    27   17450
6    27   19261
7    28   20554
8    29   22432
9    30   23147
10   31   32081
11   33   33095
12   33   35472
13   36   35803
14   37   38951
15   38   40326
16   38   42614
17   40   43117
18   42   45577
19   45   46162
20   46   48072
21   46   48336
22   49   48373
23   50   48894
24   50   49742

In [44]:
df2 = pd.read_excel(r'C:\E\E_drive_copy\sample_data\data_pre.xlsx')

In [45]:
df2

   employee   salary       dept State   Age
0         A  14947.0         HR    TN  35.0
1         B  26173.0      Sales    WB  26.0
2         C  14778.0        CSD    DL  35.0
3         D  35395.0        CSD    KL  25.0
4         E  19816.0        CSD    MP   NaN
5         F  12590.0        NaN    RJ  28.0
6         G  11782.0        CSD    GJ  24.0
7         H  39376.0      Sales    MH  35.0
8         I  23072.0        NaN    MH  35.0
9         J  12569.0      Sales   NaN  29.0
10        K      NaN      Sales    TN  35.0
11        L      NaN      Sales    TN  30.0
12        M  39196.0      Sales    MP  33.0
13        N  22706.0         HR    WB  34.0
14        O  36896.0         HR    WB  22.0
15        P  18851.0  Marketing    MP  26.0
16        Q      NaN  Marketing    MP  25.0
17        R      NaN      Admin    MP  27.0
18        S  12342.0        CSD    KL  32.0
19        T  16640.0        CSD    GJ  32.0
20        U  34752.0        CSD    MP  35.0
21        V  36456.0        CSD    GJ  34.0
22        W  13479.0      Sales    MH  55.0

In [46]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [47]:
# to view first 5 line

df.head()

   age  salary
0   21   12642
1   21   12925
2   22   13167
3   24   14929
4   26   15232

In [48]:
# last 5 line

df.tail()

    age  salary
20   46   48072
21   46   48336
22   49   48373
23   50   48894
24   50   49742

### tic tac toe game

In [62]:
import random

board = [' ' for i in range(9)]
players = ['Player-1', 'Player-2']

def print_board():
    print('|' + board[0] + '|' + board[1] + '|' + board[2] + '|')
    print('|' + board[3] + '|' + board[4] + '|' + board[5] + '|')
    print('|' + board[6] + '|' + board[7] + '|' + board[8] + '|')
    
def select_player():
    f_player = random.choice(players)
    print(f'Start playing {f_player}')
    
    global s_player
    if f_player == 'Player-1':
        s_player = 'Player-2'
    else:
        s_player = 'Player-1'
    return f_player

def play(p):
    print(f'Its your turn {p}')
    n = int(input('Enter the selected cell number:\n'))
    if p == 'Player-1':
        if board[n-1] == ' ':
            board[n-1] = 'X'
        else:
            print('Sorry! space occupied.')
            
    if p == 'Player-2':
        if board[n-1] == ' ':
            board[n-1] = 'O'
        else:
            print('Sorry! space occupied.')
    print_board()
    

def p1_win(b1):
    if (b1[0]==b1[1]==b1[2]=='X') or (b1[3]==b1[4]==b1[5]=='X') or (b1[6]==b1[7]==b1[8]=='X') or (b1[0]==b1[3]==b1[6]=='X') or (b1[1]==b1[4]==b1[7]=='X') or (b1[2]==b1[5]==b1[8]=='X') or (b1[0]==b1[4]==b1[8]=='X') or (b1[2]==b1[4]==b1[6]=='X'):
        return True
    return False

def p2_win(b1):
    if (b1[0]==b1[1]==b1[2]=='O') or (b1[3]==b1[4]==b1[5]=='O') or (b1[6]==b1[7]==b1[8]=='O') or (b1[0]==b1[3]==b1[6]=='O') or (b1[1]==b1[4]==b1[7]=='O') or (b1[2]==b1[5]==b1[8]=='O') or (b1[0]==b1[4]==b1[8]=='O') or (b1[2]==b1[4]==b1[6]=='O'):
        return True
    return False

def draw(b1):
    if b1[0]!= ' ' and b1[1]!= ' ' and b1[2]!= ' ' and b1[3]!= ' ' and b1[4]!= ' ' and b1[5]!= ' ' and b1[6]!= ' ' and b1[7]!= ' ' and b1[8]!= ' ':
        return True
    return False

print('Welcome to tic tac toe')
print('Player 1 will be usinf X and Player 2 will be using O')

print_board()
c = select_player()

while True:
    
    play(c)
    
    if p1_win(board):
        print('Congrats! Player-1 (X) wins')
        break
    elif p2_win(board):
        print('Congrats! Player-2 (O) wins')
        break
    elif draw(board):
        print('Its a draw')
        break
        
    play(s_player)

Welcome to tic tac toe
Player 1 will be usinf X and Player 2 will be using O
| | | |
| | | |
| | | |
Start playing Player-1
Its your turn Player-1
Enter the selected cell number:
1
|X| | |
| | | |
| | | |
Its your turn Player-2
Enter the selected cell number:
2
|X|O| |
| | | |
| | | |
Its your turn Player-1
Enter the selected cell number:
3
|X|O|X|
| | | |
| | | |
Its your turn Player-2
Enter the selected cell number:
4
|X|O|X|
|O| | |
| | | |
Its your turn Player-1
Enter the selected cell number:
6
|X|O|X|
|O| |X|
| | | |
Its your turn Player-2
Enter the selected cell number:
9
|X|O|X|
|O| |X|
| | |O|
Its your turn Player-1
Enter the selected cell number:
5
|X|O|X|
|O|X|X|
| | |O|
Its your turn Player-2
Enter the selected cell number:
7
|X|O|X|
|O|X|X|
|O| |O|
Its your turn Player-1
Enter the selected cell number:
8
|X|O|X|
|O|X|X|
|O|X|O|
Its a draw

In [ ]:
()