## OOP..

create a Bank class with below
# class attribute - bank name
# instance attribute - customer name, account type, balance, interest rate
# methods - deposit, withdrawal, interest_addition

In [14]:
class Bank:
    
    bank_name = 'XYZ'
    
    def __init__(self, name, acc_type, interest_rate, balance=0):
        
        self.name = name
        self.acc_type = acc_type
        self.balance = balance
        self.interest_rate = interest_rate
        
    def deposit(self, amount):
        
        if amount > 0:
            self.balance += amount
            print(f'Your updated balance is {self.balance}')
        else:
            print('Sorry. mentioned amount cannot be deposited')
            
    def withdrawal(self, amount):
        if amount < self.balance:
            self.balance -= amount
            print(f'Your updated balance is {self.balance}')
        else:
            print(f'Sorry. Not enough balance. You current balance is {self.balance}')
            
    def interest_addition(self): # once in a year (simple interest)
        i = self.balance*self.interest_rate/100
        self.balance += i
        print(f'Your updated balance is {self.balance}')

In [15]:
# create an account

sb1 = Bank('John', 'Savings', 5)

In [16]:
# checking attributes

sb1.name

'John'

In [17]:
sb1.balance

0

In [18]:
# deposit method

sb1.deposit(100)

Your updated balance is 100

In [19]:
sb1.balance

100

In [20]:
sb1.withdrawal(150)

Sorry. Not enough balance. You current balance is 100

In [21]:
sb1.withdrawal(50)

Your updated balance is 50

In [22]:
sb1.balance

50

In [23]:
sb1.deposit(950)

Your updated balance is 1000

In [24]:
sb1.interest_addition()

Your updated balance is 1050.0

#### operator overloading...

In [25]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [26]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [27]:
5 + 1

6

In [28]:
int.__add__(5, 1) # same as 5 + 1

6

In [42]:
[1,2] + [3, 4]

[1, 2, 3, 4]

In [43]:
'ab' + 'cd'

'abcd'

In [44]:
class Book:
    
    def __init__(self, name, page):
        
        self.name = name
        self.page = page
        
    def __len__(self):
        return self.page
    
    def __add__(self, other):
        return(self.page + other.page)
    
    def __gt__(self, other):
        if self.page > other.page:
            return True
        return False

In [45]:
book1 = Book('Python is awsome', 200)
book2 = Book('Advanced Python', 250)

In [46]:
len(book1)

200

In [47]:
len(book2)

250

In [48]:
book1 + book2

450

In [49]:
book1 > book2

False

In [50]:
book2 > book1

True

#### 3. method overloading

In [51]:
# same method name with different number of arguments creation is the concept of method overloading
# its not allowed directly in python.
# we may use default argument or variable length argument to achieve this

In [52]:
class Some:
    
    def add(self, *x):
        s = sum(x)
        print(f'sum of given numbers are {s}')
        
    def add2(self, num1=0, num2=0, num3=0, num4=0):
        return num1+num2+num3+num4

In [53]:
some1 = Some()

In [54]:
some1.add(2,3)

sum of given numbers are 5

In [55]:
some1.add(2,3,4,5,6,7,8)

sum of given numbers are 35

In [56]:
some1.add2(4,5)

9

In [57]:
some1.add2(4,5,1)

10

#### 4. method overriding

In [58]:
# one method is over wrting by a method having same name (appies in inhertance)

In [59]:
class Parent:
    
    def method1(self):
        print('this is method1 under parent')

In [60]:
class Child1(Parent):
    pass

In [61]:
class Child2(Parent):
    
    def method1(self):
        print('this is method1 under child2')

In [62]:
p1 = Parent()
c1 = Child1()
c2 = Child2()

In [63]:
p1.method1()

this is method1 under parent

In [64]:
c1.method1()

this is method1 under parent

In [65]:
c2.method1()

this is method1 under child2

#### public, protected, private variables

In [66]:
# public variables: values can be changed either from parent class or child class

class Car:
    
    def __init__(self, make): # public variable
        self.make = make

In [67]:
# protected variables:  values can be changed from the child, not from parent

class Car:
    
    def __init__(self, make): # protected variable
        self._make = make

In [68]:
c1 = Car('BMW')

In [70]:
c1._make

'BMW'

In [71]:
# private variable : values cannot be change from parent or child

class Car:
    
    def __init__(self, make): # private variable
        self.__make = make

In [72]:
c1 = Car('BMW')

In [74]:
# to access private variable :   instance_name._Class__variable

c1._Car__make

'BMW'

### decorators

In [75]:
# functions can be considered as variables in python (first class variables)

In [76]:
def greet():
    print('hi')

In [77]:
greet()

hi

In [78]:
x = greet

In [79]:
x()

hi

In [80]:
# functions can be passed as arguments

In [81]:
def add(a,b):
    return a+b

In [82]:
def double(x):
    return(2*x)

In [83]:
double(add(2,3))

10

In [84]:
# decorator : properties of a function can be taken by another function

In [85]:
def decor(func):
    
    def inner():
        print('--------------')
        func()
        print('--------------')
        
    return inner

In [86]:
def greet():
    print('    hello     ')

In [87]:
greet()

    hello

In [88]:
@decor
def greet():
    print('    hello     ')

In [89]:
greet()

--------------
    hello
--------------

In [90]:
def f(func):
    
    def add(a,b):
        c = a+b
        result = func(c)
        return result
    return add

In [91]:
def double(x):
    return 2*x

In [92]:
double(5)

10

In [93]:
@f
def double(x):
    return 2*x

In [95]:
double(5, 2)

14

### class method

In [97]:
# classmethod are to deal with class variables in python

class Employee:
    
    company = 'Google' # class variable
    
    def __init__(self, name):
        self.name = name
    
    @classmethod
    def company_info(cls):
        return cls.company

In [98]:
emp1 = Employee('John')

In [99]:
emp1.company_info()

'Google'

#### static methods

In [100]:
# methods nether need to pass instance variable or class variable or even self

class Employee:
    
    @staticmethod
    def some():
        print('its some method inside employee class')

In [101]:
e1 = Employee()

In [102]:
e1.some()

its some method inside employee class

In [103]:
# static meyhods can be accessed using class name

Employee.some()

its some method inside employee class

#### datetime module

In [104]:
from datetime import date

In [105]:
# 1. create a date variable

d = date(2021, 1, 30) # year, month, date

In [106]:
print(d)

2021-01-30

In [107]:
print(type(d))

<class 'datetime.date'>

In [108]:
# 2. todays date

td = date.today()

In [109]:
print(td)

2021-08-03

In [110]:
# 3. weekday (0-6 represents Monday to Sunday)

date.weekday(td)

1

In [111]:
# 4. maximum date datetime can handle

mx = date.max

In [112]:
print(mx)

9999-12-31

In [113]:
# 5. minimum date datetime can handle

mn = date.min

In [114]:
print(mn)

0001-01-01

In [116]:
# 6. to get date month tear sepearet from a datetime

print(d)

2021-01-30

In [117]:
# day

d.day

30

In [118]:
# month

d.month

1

In [119]:
# year

d.year

2021

In [121]:
# 7. date in string format

print(d)

2021-01-30

In [122]:
d.strftime('%d-%m-%Y') # dd-mm-yyyy

'30-01-2021'

In [123]:
d.strftime('%d-%m-%y') # dd-mm-yy

'30-01-21'

In [124]:
d.strftime('%Y-%m-%d')

'2021-01-30'

In [125]:
d.strftime('%d/%m/%Y')

'30/01/2021'

In [126]:
# time from datetime

In [127]:
from datetime import time

In [137]:
tm = time(10, 20, 59, 999) # hour, minute, second, microseconds

In [138]:
print(tm)

10:20:59.000999

In [139]:
print(type(tm))

<class 'datetime.time'>

In [140]:
tm2 = time(10, 20)

In [141]:
print(tm2)

10:20:00

In [142]:
# 1. to get hour, minute, seconds seperate

In [143]:
# hour

tm.hour

10

In [144]:
# minute

tm.minute

20

In [145]:
# second

tm.second

59

In [146]:
# microsecond

tm.microsecond

999

In [147]:
# time in string format

tm.strftime('%H:%M')

'10:20'

In [149]:
tm.strftime('%H:%M:%S')

'10:20:59'

In [150]:
# datetime from datetime

In [151]:
from datetime import datetime

In [152]:
# 1. to create a datetime variable

dt1 = datetime(2021, 1, 30, 10, 20, 59, 10000)  # year, month, date, hour, minute, second, micro second

In [153]:
print(dt1)

2021-01-30 10:20:59.010000

In [154]:
print(type(dt1))

<class 'datetime.datetime'>

In [155]:
# 2. to get year, month, date, etc from datettime

In [156]:
# year

dt1.year

2021

In [157]:
# month

dt1.month

1

In [158]:
# hour

dt1.hour

10

In [159]:
# 3. current date and time

now = datetime.now()

In [160]:
print(now)

2021-08-03 07:54:45.423543

In [162]:
# 4. datetime in string format

print(dt1)

2021-01-30 10:20:59.010000

In [163]:
dt1.strftime('%d-%m-%Y')

'30-01-2021'

In [164]:
dt1.strftime('%H:%M')

'10:20'

In [165]:
dt1.strftime('%Y')

'2021'

In [166]:
dt1.strftime('%d %B %Y')  # %B - month name

'30 January 2021'

In [167]:
dt1.strftime('%A %d %B %Y') # %A print the day

'Saturday 30 January 2021'

In [169]:
dt1.strftime('%H:%M %p')

'10:20 AM'

In [170]:
# timedelta in datetime

In [172]:
from datetime import timedelta

In [173]:
print(dt1)

2021-01-30 10:20:59.010000

In [174]:
x = dt1 + timedelta(1) # 1 day

# arguments can be passed with timedelta - days, seconds, microseconds, milliseconds, minutes, hours, weeks

In [175]:
print(x)

2021-01-31 10:20:59.010000

In [176]:
y = dt1 + timedelta(weeks=4, days=1)

In [177]:
print(y)

2021-02-28 10:20:59.010000

### pytz module for timezones

In [178]:
import pytz

In [179]:
# 1. to get all time zones 

print(pytz.all_timezones)

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [180]:
# datetime with a timezone

tz_a = pytz.timezone('Europe/Berlin')
print(datetime.now(tz_a))

2021-08-03 04:35:55.310098+02:00