#### 9. pyramid vertically

In [2]:
# n represents the count of '*' in middle line

def pattern9(n):
    for i in range(1,n+1):
        print(i*'* ')
    for i in range(n-1, 0,-1):
        print(i*'* ')
        
pattern9(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### 10. Number pyramid - vertically

In [32]:
def patern10(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j, end=' ')
        print()
    for i in range(n,0,-1):
        for j in range(1,i):
            print(j, end=' ')
        print('')

In [33]:
patern10(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

#### 11. pyramid vertically - reverse order

In [68]:
def pattern11(n):
    for i in range(1,n+1):
        print((n-i)*' ' + i*'*')
    for i in range(1,n):
        print(i*' '+(n-i)*'*')

In [69]:
pattern11(5)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

#### 12. letter pyramid - vertical

In [24]:
def pattern12(n):
    x=65
    for i in range(1,n+1):
        for j in range(i):
            print(chr(x)+' ',end='')
        x +=1
        print('')
    x -= 2
    for i in range(n-1,0,-1):
        for j in range(i):
            print(chr(x)+' ',end='')
        x -=1
        print('')

In [25]:
pattern12(5)

A
B B
C C C
D D D D
E E E E E
D D D D
C C C
B B
A

#### 13. letter pyramid - vertical (with 26 plus letters - repeat)

In [16]:
def pattern13(n):
    x=65
    for i in range(1,n+1):
        for j in range(i):
            print(chr(x)+' ',end='')
        x +=1
        if x == 91:
            x = 65
        print('')
        
    if x==65:
        x=x
    elif x==66:
        x=90
    else:
        x -= 2
    
    for i in range(n-1,0,-1):
        for j in range(i):
            print(chr(x)+' ',end='')
        if x == 91:
            x = 65
        elif x == 65:
            x = 90
        else:
            x -= 1
        print('')

In [24]:
pattern13(28)

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J
K K K K K K K K K K K
L L L L L L L L L L L L
M M M M M M M M M M M M M
N N N N N N N N N N N N N N
O O O O O O O O O O O O O O O
P P P P P P P P P P P P P P P P
Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
R R R R R R R R R R R R R R R R R R
S S S S S S S S S S S S S S S S S S S
T T T T T T T T T T T T T T T T T T T T
U U U U U U U U U U U U U U U U U U U U U
V V V V V V V V V V V V V V V V V V V V V V
W W W W W W W W W W W W W W W W W W W W W W W
X X X X X X X X X X X X X X X X X X X X X X X X
Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y
Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z
A A A A A A A A A A A A A A A A A A A A A A A A A A A
B B B B B B B B B B B B B B B B B B B B B B B B B B B B
A A A A A A A A A A A A A A A A A A A A A A A A A A A
Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z
Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y
X X X X X X X X X X X X X X X X X X X X X X X X
W W W W W W W W W W W W W W W W W W W W W W W
V V V V V V V V V V V V V V V V V V V V V V
U U U U U U U U U U U U U U U U U U U U U
T T T T T T T T T T T T T T T T T T T T
S S S S S S S S S S S S S S S S S S S
R R R R R R R R R R R R R R R R R R
Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
P P P P P P P P P P P P P P P P
O O O O O O O O O O O O O O O
N N N N N N N N N N N N N N
M M M M M M M M M M M M M
L L L L L L L L L L L L
K K K K K K K K K K K
J J J J J J J J J J
I I I I I I I I I
H H H H H H H H
G G G G G G G
F F F F F F
E E E E E
D D D D
C C C
B B
A

##### Pattern 14- even number pyramid

####### option-1

In [15]:
# n represents number of rows
def pattern14_1(n):
    x=2
    for i in range(1,n+1):
        for j in range(i):
            print(str(x), end = ' ')
        x += 2
        print('')

In [16]:
pattern14_1(4)

2
4 4
6 6 6
8 8 8 8

####### option-2

In [17]:
# n represents number of rows
def pattern14_2(n):
    x=2
    for i in range(1,n+1):
        for j in range(i):
            print(str(x), end = ' ')
            x += 2
        print('')

In [19]:
pattern14_2(5)

2
4 6
8 10 12
14 16 18 20
22 24 26 28 30