# Pyramids & Patterns using python

#### 1. Pattern 1 (right triangle towards right side)

###### Method-1

In [29]:
def pattern1_1(n):
    for i in range(n):
        print((i+1)*'*')

In [30]:
pattern1_1(5)

*
**
***
****
*****

###### Method-2

In [31]:
def pattern1_2(n):
    for i in range(1,n+1):
        for j in range(i):
            print('*', end='')
        print()

In [32]:
pattern1_2(5)

*
**
***
****
*****

#### 2. Pattern 2 (right triangle towards left side)

In [27]:
def patter2_1(n):
    for i in range(1,n+1):
        print((n-i)*' '+'*'*i)

In [28]:
patter2_1(5)

    *
   **
  ***
 ****
*****

#### 3. Pattern 3 (up-down reverse of pattern1)

In [33]:
def pattern3(n):
    for i in range(n,0,-1):
        print(i*'*')

In [34]:
pattern3(5)

*****
****
***
**
*

#### 4. Pattern 4 (up-down reverse of pattern2)

In [37]:
def pattern4(n):
    for i in range(n,0,-1):
        print((i-n)*' '+i*'*')

In [38]:
pattern4(5)

*****
****
***
**
*

#### 5. Pattern 5 - pyramid

###### Method1 (based on number of * in last row)

In [56]:
def pyramid(n):
    for i in range(1,(n+2),2):
        print((round((n-i)/2))*' '+i*'*')

In [60]:
pyramid(3)

 *
***

In [59]:
pyramid(9)

    *
   ***
  *****
 *******
*********

###### Method2 (Based on number of rows)

In [61]:
def pyramid_2(n):
    for i in range(n):
        print ((n-i-1)*' '+(2*i+1)*'*')

In [62]:
pyramid_2(5)

    *
   ***
  *****
 *******
*********

#### 6. Pattern 6 - triangle

In [69]:
def triange(n):
    for i in range(n):
        print((n-i)*' '+(i+1)*' *')

In [72]:
triange(5)

      *
     * *
    * * *
   * * * *
  * * * * *

#### 7. Number patterns

###### 7.1 Number pattern-1

In [7]:
def num_pat1(n):
    for i in range(n+1):
        for j in range(1,i+1):
            print(j, end='')
        print()

In [8]:
num_pat1(5)

1
12
123
1234
12345

###### 7.2 Number pattern-2

In [10]:
def num_pat2(n):
    for i in range(n,0,-1):
        for j in range(i,0,-1):
            print(j, end='')
        print()

In [11]:
num_pat2(5)

54321
4321
321
21
1

###### 7.3 Number pattern-3

In [29]:
def num_pat3(n):   # n for number of rows & number of digit in last row
    x=1
    for i in range(n):
        for j in range(i+1):
            print(x, end=' ')
            x += 1
        print()

In [30]:
num_pat3(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

#### 8. Alphabet patterns

###### 8.1 Alphabet pattern-1

In [37]:
def alph_pat1(n):
    x=65
    for i in range(n):
        for j in range(i+1):
            print(chr(x), end=' ')
        x += 1
        print()

In [38]:
alph_pat1(5)

A
B B
C C C
D D D D
E E E E E

###### 8.2 Alphabet pattern-2

In [39]:
def alph_pat2(n):
    x=65
    for i in range(n):
        for j in range(i+1):
            print(chr(x), end=' ')
            x += 1
        print()

In [40]:
alph_pat2(5)

A
B C
D E F
G H I J
K L M N O