In [1]:
#problem statements
# 1. date and time from a log file
# 2. get valid e-mail ids from a list of e-mail ids
# 3. get valid phone numbers from a list phone numbers with country
# 4. replace a value with another value in a bunch of data

#note:  regex is compactable with other languages also (like c, java, etc)

In [79]:
import re

In [7]:
Nameage = '''
Janice is 22 and Theon is 33 
Gabriel is 44 and Joey is 31
'''

In [8]:
ages = re.findall(r'\d{1,3}', Nameage)
names = re.findall(r'[A-Z][a-z]*', Nameage)

In [9]:
agedict = {}
x = 0

In [10]:
for name in names:
    agedict[name] = ages[x]
    x = x+1
    
print(agedict)

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '31'}

# Find a word in a centance

In [11]:
string1 = "we need to inform him with the latest information"
# find 'inform'

In [12]:
if re.search('inform', string1):
    print("There is inform in bthe mentioned string")
else:
    print("No word inform in the provided string")

There is inform in bthe mentioned string

In [14]:
# to find all matching words
allinform = re.findall("inform", string1)

for i in allinform:
    print(i)

inform
inform

# To generate an iterator

In [15]:
string2 = "we need to inform him with the latest information"

In [16]:
for i in re.finditer("inform", string2):
    tuple1 = i.span()
    print(tuple1)
#print the starting and ending positions of the word finding

(11, 17)
(38, 44)

# To match one of several letters

In [20]:
string3 = 'Sat, hat, mat, pat, word, love'
#need to match anything ends with 'at'

In [21]:
allstring = re.findall('[Shmp]at', string3)

for i in allstring:
    print(i)

#regs searches are case sensitive

Sat
hat
mat
pat

In [22]:
#method2
allstring2 = re.findall('[A-Za-z]at', string3)

for i in allstring2:
    print(i)

Sat
hat
mat
pat

# Match series of range of characters

In [32]:
#need to find all letters which starts with letters between h to m and ends with 'at'
string3 = 'Sat, hat, mat, pat, word, love, Hat'

In [40]:
sel_string = re.findall('[H-Mh-m]at', string3)
for i in sel_string:
    print(i)

hat
mat
Hat

In [41]:
sel_string

['hat', 'mat', 'Hat']

In [70]:
#to print words starts with H-M or h-m and ends with anything
sel_string2 = re.findall('[H-Mh-m]\w+', string3)
for i in sel_string2:
    print(i)

print(sel_string2)

hat
mat
love
Hat
['hat', 'mat', 'love', 'Hat']

In [1]:
# to print words except starts with H-M or h-m and ends with anything
# sel_string2 = re.findall('[^H-Mh-m]\w+', string3)
# for i in sel_string2:
#     print(i)

# print(sel_string2)

# To replace a string

In [2]:
string4 = 'hat rat mat pat'
#replace rat with food

In [4]:
import re
repl_str = re.compile('rat')
string4 = repl_str.sub('food', string4)
print(string4)

hat food mat pat

In [81]:
string5 = 'giri do not want to go to school. because he does not know anyone in the school'
#remplace school with play-school

In [83]:
repl_str2 = re.compile('school')
string5 = repl_str2.sub('play-school', string5)
print(string5)

giri do not want to go to play-school. because he does not know anyone in the play-school

# Deling with backslash problem

In [84]:
rand_str = 'here is \\drogba'
print(rand_str)
#even though we have two \ characters it is printing only 1

here is \drogba

In [85]:
print(re.search(r'\\drogba', rand_str))
#search method can find it

<_sre.SRE_Match object; span=(8, 15), match='\\drogba'>

# To deal with blank spaces

In [86]:
rand_str = '''
Keep the blue flag
flying high
Chelsea'''
print(rand_str)  # its a multi line string

Keep the blue flag
flying high
Chelsea

In [87]:
repl_str = re.compile('\n')
rand_str = repl_str.sub(' ', rand_str)  # next lines replaced with spaces
print(rand_str)

 Keep the blue flag flying high Chelsea

# Deal with numbers

In [5]:
# to deal with backslash (\b), formfeed(\f), carriage return(\r), tab(\t), vertical tab(\v)
rand_str2 = '12345a'
print('Matches:', len(re.findall('\d', rand_str2))) # \d to match any number
print('Matches:', len(re.findall('\D', rand_str2))) # \D will match anything except number

Matches: 5
Matches: 1

In [92]:
print('Matches:', len(re.findall('\d{5}', rand_str2)))  # matches 1 digit '5'

Matches: 1

In [93]:
num = '123 1234 12345 123456 1234567'
# to find occurance in range 5 to 7

In [98]:
print('Marches : ', re.findall('\d{5,7}', num))
print('Marches : ', len(re.findall('\d{5,7}', num)))  # \d{5,7} dearches digits 5 or 56 or 567

Marches :  ['12345', '123456', '1234567']
Marches :  3

# Phone number verification

In [99]:
# sample 444-122-1234
# format is 3 digits, - sign, 3 gits, - sign, 4 digits

In [100]:
# Note:-
#  \w refers to [a-zA-Z0-9_]
#  \W refers to [^a-zA-Z0-9]

In [101]:
phone = '412-555-1212'
if re.search('\d{3}-\d{3}-\d{4}', phone):
    print('it is a valid phone number')
else:
    print('it is not a valid phone number')

it is a valid phone number

In [102]:
phone = '412-5551-1212'
if re.search('\d{3}-\d{3}-\d{4}', phone):
    print('it is a valid phone number')
else:
    print('it is not a valid phone number')

it is not a valid phone number

# To check if names is a valid name

In [103]:
#Note:-
#  \s represennts all spaces [\f\n\r\t\v]
#  \S represents all except spaces [^\f\n\r\t\v]

In [108]:
name1 = 'Mark Samuel'
if re.search('\w{2,20}\s\w{2,20}', name1):
    print("%s is a valid name"%name1)
else:
    print("%s is not a valid name"%name1)

Mark Samuel is a valid name

In [109]:
name1 = 'sreerajva5@gmail.com'
if re.search('\w{2,20}\s\w{2,20}', name1):
    print("%s is a valid name"%name1)
else:
    print("%s is not a valid name"%name1)

sreerajva5@gmail.com is not a valid name

# To check if e-mail id is valid

In [110]:
# Note:- to check if e-mail id is valid
# 1. one to 20 lower or uppercase letters, numbers plus ._%+-
# 2. an @ symbol
# 3. 2 to 20 lower or uppercase letters, numbers plus .-
# 4. A period
# 5. 2 to 3 lowercase and uppercase letters

In [115]:
email = 'sk@aol.com  md@.com @seo.com dc@.com'
valid = re.findall('[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}', email)
count = len(valid)
print("%d email are valid and shown below" %count)
print(valid)

1 email are valid and shown below
['sk@aol.com']

# Web scrapping

In [116]:
import urllib.request
import re

In [121]:
url = 'http://www.summet.com/dmsi/html/codesamples/addresses.html'
response = urllib.request.urlopen(url)
html = response.read()
# print(html)
htmlstr = html.decode()
# print(htmlstr)

In [135]:
phone_numbers = re.findall('\(\d{3}\) \d{3}-\d{4}', htmlstr)
#print(phone_numbers)
# names = re.findall('\w{2,20}\s\w{2,20}', htmlstr)
print(len(phone_numbers))
# print(len(names))

100

In [136]:
post_box = re.findall('\d{5}', htmlstr)
print(len(post_box))

100

In [142]:
import pandas as pd

In [165]:
dict1 = {post_box[n]:phone_numbers[n] for n in range(len(post_box))}
#print(dict1)
df1 = pd.DataFrame(dict1, index = ['nikj'])
df2 = df1.T
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 96522 to 48580
Data columns (total 1 columns):
nikj    100 non-null object
dtypes: object(1)
memory usage: 1.6+ KB

In [156]:
#to get the list of phone number with PO number
datafr = pd.DataFrame(list(dict1.items()), columns=['pin', 'phone'])
datafr.head()

     pin           phone
0  96522  (257) 563-7401
1  20620  (372) 587-2335
2  11523  (786) 713-8616
3  39531  (793) 151-6230
4  47096  (492) 709-6392

In [166]:
dict1

{'96522': '(257) 563-7401',
 '20620': '(372) 587-2335',
 '11523': '(786) 713-8616',
 '39531': '(793) 151-6230',
 '47096': '(492) 709-6392',
 '10855': '(654) 393-5734',
 '08219': '(404) 960-3807',
 '12482': '(314) 244-6306',
 '67708': '(947) 278-5929',
 '98804': '(684) 579-1879',
 '69409': '(389) 737-2852',
 '24975': '(660) 663-4518',
 '38100': '(608) 265-2215',
 '45149': '(959) 119-8364',
 '49854': '(468) 353-2641',
 '19253': '(248) 675-4007',
 '02913': '(939) 353-1107',
 '09289': '(570) 873-7090',
 '93373': '(302) 259-2375',
 '20783': '(717) 450-4729',
 '90255': '(453) 391-4650',
 '37547': '(559) 104-5475',
 '48432': '(387) 142-9434',
 '58563': '(516) 745-4496',
 '93479': '(326) 677-3419',
 '30309': '(746) 679-2470',
 '51324': '(455) 430-0989',
 '92358': '(490) 936-4694',
 '19759': '(985) 834-8285',
 '55797': '(662) 661-1446',
 '37232': '(802) 668-8240',
 '50654': '(477) 768-9247',
 '31626': '(791) 239-9057',
 '43526': '(832) 109-0213',
 '95302': '(837) 196-3274',
 '29738': '(268) 442-2428',
 '54886': '(850) 676-5117',
 '77373': '(861) 546-5032',
 '11292': '(176) 805-4108',
 '73585': '(715) 912-6931',
 '87535': '(993) 554-0563',
 '77382': '(357) 616-5411',
 '35282': '(121) 347-0086',
 '82776': '(304) 506-6314',
 '92508': '(425) 288-2332',
 '85794': '(145) 987-4962',
 '19408': '(187) 582-9707',
 '08609': '(750) 558-3965',
 '31522': '(492) 467-3131',
 '58521': '(774) 914-2510',
 '81202': '(888) 106-8550',
 '10626': '(539) 567-3573',
 '58520': '(693) 337-2849',
 '57692': '(545) 604-9386',
 '04645': '(221) 156-5026',
 '26278': '(414) 876-0865',
 '69679': '(932) 726-8645',
 '03869': '(726) 710-9826',
 '55246': '(622) 594-1662',
 '87323': '(948) 600-8503',
 '84872': '(605) 900-7508',
 '41329': '(716) 977-5775',
 '30135': '(368) 239-8275',
 '99602': '(725) 342-0650',
 '91750': '(711) 993-5187',
 '76865': '(882) 399-5084',
 '73490': '(287) 755-9948',
 '63725': '(659) 551-3389',
 '96892': '(275) 730-6868',
 '22767': '(725) 757-4047',
 '77987': '(314) 882-1496',
 '43841': '(639) 360-7590',
 '40684': '(168) 222-1592',
 '03828': '(896) 303-1164',
 '50710': '(203) 982-6130',
 '66309': '(906) 217-1470',
 '67973': '(614) 514-1269',
 '71983': '(763) 409-5446',
 '79637': '(836) 292-5324',
 '06963': '(926) 709-3295',
 '07367': '(963) 356-9268',
 '68999': '(736) 522-8584',
 '73510': '(410) 483-0352',
 '53700': '(252) 204-1434',
 '48247': '(874) 886-4174',
 '12657': '(581) 379-7573',
 '56618': '(983) 632-8597',
 '28423': '(295) 983-3476',
 '97020': '(873) 392-8802',
 '93490': '(360) 669-3923',
 '62401': '(840) 987-9449',
 '05182': '(422) 517-6053',
 '87065': '(126) 940-2753',
 '92611': '(427) 930-5255',
 '88317': '(689) 721-5145',
 '36734': '(676) 334-2174',
 '70863': '(437) 994-5270',
 '19587': '(564) 908-6970',
 '07528': '(577) 333-6244',
 '48580': '(655) 840-6139'}